nauty/NRswitchg
nauty/addedgeg
nauty/amtog
nauty/biplabg
nauty/catg
nauty/complg
nauty/config.log
nauty/copyg
nauty/countg
nauty/deledgeg
nauty/directg
nauty/dretog
nauty/genbg
nauty/geng
nauty/genrang
nauty/labelg
nauty/listg
nauty/multig
nauty/newedgeg
nauty/pickg
nauty/planarg
nauty/shortg
nauty/showg
nauty/dreadnaut
nauty/config.status
objects
haskell-interfaces
digest-cache
programs
*.o
*.hi
Setup
*.cfg
tests
